/*==================================== GLOBAL STYLES ====================================*/



/*PAGE/IMG/DIV GLOBAL SIZE STYLING TO FIT AND COVER PAGE*/
html, body, div {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  object-fit: cover;
}



/*CONTAINS GLOBAL BACKGROUND STYLING/ANIMATION*/
body {
  background-image: linear-gradient(45deg, rgb(254, 168, 168), rgb(255, 219, 157), rgb(255, 255, 156), rgb(157, 255, 157), rgb(160, 252, 252), rgb(161, 161, 255), rgb(252, 157, 252));
  background-size: 1000%;
  background-repeat: no-repeat;
  animation: gradientAnimation 40s infinite alternate;
  min-height: 100vh;
}

@keyframes gradientAnimation {
  0% {
      background-position: left
    }
  100% {
      background-position: right;
    }
}



/* CONTAINS GLOBAL MENUBAR STYLING*/
.menuBar {
  background-color: #282828;
  position: sticky;
  top: 0;
  overflow: hidden;
  height: 1.5em;
  padding: 1em;
}

.menuBar a{
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

  background-image: linear-gradient(45deg, rgb(254, 168, 168), rgb(255, 219, 157), rgb(255, 255, 156), rgb(157, 255, 157), rgb(160, 252, 252), rgb(161, 161, 255), rgb(252, 157, 252));
  animation: gradientAnimation 40s infinite alternate;
  background-size: 1000%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.menuBar img {
  max-height: 100%;
  float: left;
  width: 240px;
}

.menuBar a:last-child {
  float: right;
}

#three {
  float: right;
}

#lonely_a {
  float: right;
}



/*GLOBAL CONTENT DIV*/
.content {
  margin: 5em;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  background-color: rgb(255, 255, 255);
}



/*====================================== HOME PAGE =============================================*/

.club_names {
  text-align: center;
}


#headerImage {
  width: 100%;
  height: 30em;
  border-radius: 25px;
  background: rgb(255, 255, 255);
}

#main_text {
  text-align: center;
}


.clubBox {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  width: 30em;
  height: 7em;
  padding: 1em;
  margin: auto;
  overflow: auto;
  position: 'relative';
  margin-top: -50px;
  text-align: center;
}



/*================================== PROFILE PAGE ========================================*/

#edit_button {
  background-image: linear-gradient( rgb(171, 191, 233), rgb(187, 236, 245));
  color: black;
  border: linear-gradient( rgb(0, 0, 0));
  width: 8.5em;
  font-size: 16px;
}

#exit_button {
  background-image: linear-gradient( rgb(171, 191, 233), rgb(187, 236, 245));
  color: black;
  border: linear-gradient( rgb(0, 0, 0));
  width: 4em;
  font-size: 16px;
}


/*================================== LOGIN PAGE ========================================*/

.user_login {
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  width: 30em;
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 2em;

  text-align: center;
}

#google {
  display: flex;
  justify-content: center;
  align-items: center;
}


.buttons {
  width: 10em;
  background-image: linear-gradient(45deg, rgb(171, 191, 233), rgb(187, 236, 245));
  color: black;
  border-radius: 25px;
  margin: auto;
  text-decoration:none
}

.form_text {
  text-align: center;
}

/*================================== CLUBS PAGE ==========================================*/



.clubProfile {
  text-align: center;
}

#club_photo {
  margin: auto;
  height:15em;
  width:15em;
}

.headings {
  text-align: center;
}



/*================================== CREATECLUB PAGE ==========================================*/

#create {
  text-align: center;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  width: 30em;
  background-color: rgb(255, 255, 255);
  margin: auto; /*center the div*/
  margin-top: 2em;

}

.place {
  text-align: center;
}

#img_form {
  padding-left: 5em; /*shifting choose file to the right*/
}

.button_create {
  background-color: rgb(171, 191, 233);
}


