<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MYclubs Homepage</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src = "/javascripts/website.js" defer></script>
    </head>
    <body>
        <div id="home">
            <div class="menuBar">
                <a href="homePage.html"><img src="clublogo.png" alt="MYclubs Logo"></a>


                <div id = "three" v-if="user_status === true">
                    <a href="createclubPage.html">Create club</a>
                    <a href="profilePage.html">MyProfile</a>
                    <a href="clubManager.html">MyClub</a>
                    <a href="homePage.html">Home</a>
                    <a href="homePage.html" v-on:click="loggingout()">Logout</a>
                </div>
                <div id = "lonely_a" v-else>
                    <a href="loginPage.html">Login</a>
                    <a href="homePage.html">Home</a>
                </div>


            </div>
        <div class="content">
            <img id = "club_photo" src = "allclubspfp.png" alt="Image could not load.">
            <h1 class="clubProfile">{{club_name}}</h1>
            <p class="clubProfile"><i>{{club_bio}}</i></p>
            <h3 class="clubProfile">{{club_name}} Posts: </h3>
            <div v-for="post in all_posts_clubpage">
                <p class="headings">{{post.Post_title}}</p>
                <p class="headings">{{post.Post_date}}</p>
                <p class="headings">{{post.Post_content}}</p>
            </div>
            <h3 class="clubProfile">{{club_name}} Events: </h3>
            <div v-for="event in all_events_clubpage">
                <p class="headings">{{event.Event_name}}</p>
                <p class="headings">{{event.Event_date}}</p>
                <p class="headings">Event description:</p>
                <p class="headings">{{event.Event_description}}</p>
                <p class="headings">Event time:</p>
                <p class="headings">{{event.Event_time}}</p>
                <p class="headings">Location:</p>
                <p class="headings">{{event.Event_location}}</p>
            </div>

        </div>
    </div>
    <!-- whole page is #home vue -->
    </body>
</html>